---
import Layout from '../layouts/Layout.astro';
import { Grid } from "../components/Grid";
---

<Layout title="Wordle with Solid and Astro">
	<header>
		<h1>Wordle</h1>
	</header>
	<main>
		<Grid client:load />
	</main>
</Layout>

<style>
	:root {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	h1, h2 {
		text-align: center;
	}
</style>
